*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
.idea/codeStyles/
.idea/markdown-navigator/
.idea/markdown-navigator.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator-enh.xml
.idea/encodings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/jarRepositories.xml
